/* 
    Document   : resources
    Created on : Oct 16, 2012, 4:04:10 PM
    Author     : jrandrew
    Description:
        Stylesheet for resources includes to display properly.

*/

.type-title {
    border: solid black thick;
    background-color: darkgray; 
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 10px;
    width: 1024px;
    
}

.type-groups {
    border: solid black thick;
    border-top: none;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;   
    padding: 10px;
    width: 1024px;
}

.group-title {
    border: solid black medium;
    background-color: lightgrey;
}

.group-resources {
    border: solid black medium;
    border-top: none;
    margin-bottom: 10px;
}

#resourcesTable {
    width: 90%;
    max-width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#resourcesTable tr td {
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
}

#resourcesTable .resourceType {
    width: 100%;
}

#resourcesTable .resourceCell {
    width: auto;
}

#resourcesTable .resourceGroupTable {
    width: 100%;
}

#resourcesTable .resourceCellTable {
    border: solid;
    border-width: 2px;
    border-color: black;
    width: 100%;
}

#resourcesTable .resourceCellTable th {
    background-color: black;
    color: white;

}