/* 
    Document   : resources
    Created on : Oct 16, 2012, 4:04:10 PM
    Author     : jrandrew
    Description:
        Stylesheet for resources includes to display properly.

*/

body {
    background-color: black;
    color: white;
}
.type-title {
    border: solid white thick;
    background-color: darkgray;
    color: black;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 10px;
    width: 1024px;
    
}

.type-groups {
    border: solid white thick;
    border-top: none;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;   
    padding: 10px;
    width: 1024px;
}

.group-title {
    border: solid white medium;
    background-color: lightgrey;
    color: black;
}

.group-resources {
    border: solid white medium;
    border-top: none;
    margin-bottom: 10px;
}

.resourceType {
    width: 100%;
}

.resourceCell {
    width: auto;
}

.resourceGroupTable {
    width: 100%;
}

.resourceCellTable {
    border: solid 2px black;
    width: 32%;
    margin: 5px;
    display: inline-table;
}

.resourceCellTable th {
    background-color: black;
    color: white;
}

.values-row td {
    text-align: right;
}
